.nav{
    padding: 0;
    margin: .8em 0 0;
    
    a.link {
        text-decoration: none;
        padding: 0 0.6em;
        color: purple;
        font-weight: 400;
        font-size: .9em;
    }
}